<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dominic.internshipfinal.dao.InterfinalAccountMapper" >
  <resultMap id="BaseResultMap" type="com.dominic.internshipfinal.domain.entity.InterfinalAccount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="account_password" property="accountPassword" jdbcType="VARCHAR" />
    <result column="gestures_password" property="gesturesPassword" jdbcType="VARCHAR" />
    <result column="nick" property="nick" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="store_pic_url" property="storePicUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="token" property="token" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account, account_password, gestures_password, nick, mobile, store_pic_url, create_time, 
    role_id, token
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from interfinal_account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from interfinal_account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dominic.internshipfinal.domain.entity.InterfinalAccount" >
    insert into interfinal_account (id, account, account_password, 
      gestures_password, nick, mobile, 
      store_pic_url, create_time, role_id, 
      token)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{accountPassword,jdbcType=VARCHAR}, 
      #{gesturesPassword,jdbcType=VARCHAR}, #{nick,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{storePicUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{roleId,jdbcType=INTEGER}, 
      #{token,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dominic.internshipfinal.domain.entity.InterfinalAccount" >
    insert into interfinal_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="accountPassword != null" >
        account_password,
      </if>
      <if test="gesturesPassword != null" >
        gestures_password,
      </if>
      <if test="nick != null" >
        nick,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="storePicUrl != null" >
        store_pic_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="token != null" >
        token,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="accountPassword != null" >
        #{accountPassword,jdbcType=VARCHAR},
      </if>
      <if test="gesturesPassword != null" >
        #{gesturesPassword,jdbcType=VARCHAR},
      </if>
      <if test="nick != null" >
        #{nick,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="storePicUrl != null" >
        #{storePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dominic.internshipfinal.domain.entity.InterfinalAccount" >
    update interfinal_account
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="accountPassword != null" >
        account_password = #{accountPassword,jdbcType=VARCHAR},
      </if>
      <if test="gesturesPassword != null" >
        gestures_password = #{gesturesPassword,jdbcType=VARCHAR},
      </if>
      <if test="nick != null" >
        nick = #{nick,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="storePicUrl != null" >
        store_pic_url = #{storePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dominic.internshipfinal.domain.entity.InterfinalAccount" >
    update interfinal_account
    set account = #{account,jdbcType=VARCHAR},
      account_password = #{accountPassword,jdbcType=VARCHAR},
      gestures_password = #{gesturesPassword,jdbcType=VARCHAR},
      nick = #{nick,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      store_pic_url = #{storePicUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      role_id = #{roleId,jdbcType=INTEGER},
      token = #{token,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByAccountNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from interfinal_account
    where account = #{account,jdbcType=VARCHAR}
  </select>
</mapper>